.nav-link {
    text-decoration: none;
    padding: 15px 50px;
    color: gray;
    border-radius: 5px;
}

.nav-link.bg-skyblue {
    transition: all ease 300ms;
    background: skyblue;
    font-weight: bold;
    color: black;
}

.nav-link.bg-none {
    transition: all ease 300ms;
    /* background: gray; */
}
